{% set publicConfig={
  "legacyLoginWebServiceEndpoint": "ALMA_LOGIN",
  "legacyLoginLibraryAttribute": "AlmaID"
} %}

{% set gatewayHost = "https://api-na.hosted.exlibrisgroup.com" %}
{% set almaUrl = gatewayHost ~ "/almaws/v1" %}
{% set almaKey = "l7xxa8aba213f6e6411c933510af0c6a578f" %}

{% set utils = aek.extension("CMAuthUtilities") %}
{% set cmAuthAttrs = utils.getTokenAttributes() %}

{% if cmAuthAttrs %}

  {% set user = cmAuthAttrs.extraAttrs.AlmaID %}

{% else %}

  {% if aek.is_native %}

    {% set username = aek.request("username") %}
    {% set password = aek.request("password") %}

    {% set loginService = aek.get_anon_service(publicConfig.legacyLoginWebServiceEndpoint) %}
    {{ loginService.allow_empty_response }}

    {{ loginService.set_parameter("username", username|default("")) }}
    {{ loginService.set_parameter("password", password|default("")) }}

  {% else %}

    {% set loginService = aek.get_service(publicConfig.legacyLoginWebServiceEndpoint) %}
    {{ loginService.allow_empty_response }}

  {% endif %}

  {% set staticLoginResponse = loginService.response %}
  {% set attrs = staticLoginResponse.attrs.attributeitem|as_array %}

  {# we need this in the gloal scope #}
  {% set user = false %}
  
  {% for attribute in attrs %}

    {# first loop through the attribute names for the defined key; normally "libraryId" #}
    {% if attribute.attributeName == publicConfig.legacyLoginLibraryAttribute %}
      {% set user = attribute.attributeValue %}
    {% endif %}

  {% endfor %}

  {% if not user %}

    {# otherwise loop through the display names for the defined key; also normally "libraryId" #}
    {% for attribute in attrs %}

      {% if attribute.attributeDisplayName == publicConfig.legacyLoginLibraryAttribute %}
        {% set user = attribute.attributeValue %}
      {% endif %}
    {% endfor %}

  {% endif %}

{% endif %}

{% if user %}

  {% set service = aek.create_service(almaUrl ~ "/users/" ~ user ~ "/loans?user_id_type=all_unique&view=full&expand=loans%2Crequests%2Cfees&apikey=" ~ almaKey) %}
  {{ service.set_namespace("") }}
  {{ service.set_method("GET") }}
  {{ aek.respond(service.response) }}

{% else %}

  {{ aek.respond({ "message":"No user found", "attrs":attrs, "user":user }, 403) }}

{% endif %}
