
.animationContainer {
  perspective:1000px;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  >*{
    display:none !important;
    transform-origin: 0% 50%;
    position:absolute !important;
    left:0;
    top:0;
    width:100%;
    height:100%;
    margin:0 !important;
    border-radius:0 !important;
    box-shadow:none !important;
  }
  >.in{
    display:block !important;
    z-index:1;
  }
  >.out{
    z-index:2;
    display:block !important;
  }

  .paused {
     -ms-animation-play-state:paused;
     -o-animation-play-state:paused;
     -moz-animation-play-state:paused;
     -webkit-animation-play-state:paused;
    animation-play-state: paused;
  }
}

@import "./animations/rotation";
@import "./animations/swap";
@import "./animations/fade";
@import "./animations/slidedown";
@import "./animations/slidedown2";
@import "./animations/slideIn";
@import "./animations/slideIn2";
@import "./animations/bounce";
@import "./animations/flip";
@import "./animations/flipy";
@import "./animations/flipy2";
@import "./animations/zoom";
