.libraryTile{
  .libraryTileInfo{
    position: absolute !important;
    top: 18% !important;
    width: 100% !important;
    border-bottom: 2px solid #FFF;
  }
  .infoBox{
    float:left;
    margin-bottom: 5% !important;
    width: 100%;
    .infoTitle{
      color: #FFF;
      font-size: 1.1em;
      text-align: left;
      float: left;
      line-height: 52px;
      margin: 0;
    }
    .infoCircle{
      background-color: #AAA;
      color: #FFF;
      width: 40px;
      font-weight: bold;
      font-size: 15px;
      line-height: 2.6em;
      border-radius: 50% !important;
      margin: 6px 10px 6px 12px !important;
      float: left;
      opacity: 0.9;
      &.gotStuff{
        background-color: #fff;
        color: #4365e2;
      }
    }
  }
}

.loans{
  color:#FFF;
  margin-top: 0;
  text-align: left;
  font-size: small;
  height: 20%;
  position: absolute !important;
  top: 80%;
}
