@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.fade {
  &:extend(.animationContainer all);
  overflow: hidden;

  >.in{
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
  }

  >.out{
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
  }
}
