@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.flipIn2 {
  //&:extend(.animationContainer all);
  position:static;
  overflow: hidden;
  height: auto;

  >*{
    position: static !important;
  }

  >.in{
    animation-name: flipInX;
    animation-duration: 2s;
    animation-fill-mode: both;
    backface-visibility: visible !important;
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;

  }

  >.out{
    animation-name: flipOutX;
    animation-duration: 2s;
    animation-fill-mode: both;
    backface-visibility: visible !important;
    //-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    //animation-delay: 1s;
  }

}
