
@keyframes rotationFramesOut {
  0% { transform: rotate3d(0,1,0,0); opacity: 1; animation-timing-function: ease-in;}
	30% { transform: rotate3d(0,1,0,-90deg); opacity: 0.5; animation-timing-function: ease-out;}
	100% { transform: rotate3d(0,1,0,-180deg); opacity: 0; }
}

@keyframes rotationFramesIn {
  0%  { transform: rotate3d(0,1,0,90deg); opacity: 0; }
	30% { transform: rotate3d(0,1,0,90deg); opacity: 0; }
	60% { transform: rotate3d(0,1,0,-13deg); opacity: 1; }
	70% { transform: rotate3d(0,1,0,8deg); opacity: 1; }
	80% { transform: rotate3d(0,1,0,0deg); opacity: 1; }
	95% { transform: rotate3d(0,1,0,3deg); opacity: 1; }
	100% { transform: rotate3d(0,1,0,0deg); opacity: 1; }
}

.rotation {
  &:extend(.animationContainer all);
  position:static;
  overflow: hidden;
  height: 144px;

  >*{
    position: static !important;
  }
  >.in{
    animation: rotationFramesIn 0.8s ease-in-out;
  }
  >.out{
    animation: rotationFramesOut 0.8s linear forwards;
  }
}
