@keyframes slideInDownOther {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutDownOther {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.slidedown2 {
  &:extend(.animationContainer all);
  overflow: hidden;

  >.in{
    animation-name: slideInDownOther;
    animation-duration: 1s;
    animation-fill-mode: both;

  }

  >.out{
    animation-name: slideOutDownOther;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

}
