@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.slideIn {
  &:extend(.animationContainer all);
  position:static;
  overflow: hidden;
  height: auto;

  >*{
    position: static !important;
    margin: 10px 0 !important;
  }

  >.in{
    animation-name: slideInRight;
    animation-duration: 1.5s;
    animation-fill-mode: both;

  }

  >.out{
    animation-name: slideOutLeft;
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }

}
