@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.slidedown {
  &:extend(.animationContainer all);
  position:static;
  overflow: hidden;
  height: auto;

  >*{
    position: static !important;
  }

  >.in{
    animation-name: slideInDown;
    animation-duration: 1s;
    animation-fill-mode: both;

  }

  >.out{
    animation-name: slideOutDown;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

}
