@keyframes slideInRightTwo {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeftTwo {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.slideIn2 {
  &:extend(.animationContainer all);
  overflow: hidden;

  >.in{
    animation-name: slideInRightTwo;
    animation-duration: 1.5s;
    animation-fill-mode: both;

  }

  >.out{
    animation-name: slideOutLeftTwo;
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }

}
