
@keyframes swapOut {
  0% { transform: translateX(0); z-index: 3;}
  50% { transform: rotateZ(5deg) translateX(100%); z-index: 3;}
  51% { z-index: 1;}
  100% { transform: rotateZ(0deg) translateX(0px); z-index: 1;}
}

.swap {
  &:extend(.animationContainer all);

  >.in{
    display:block !important;
    z-index:2;
  }
  >.out{
    display:block !important;
    animation: swapOut 0.8s ease-in-out forwards;
  }
}
