@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomIn {
  //&:extend(.animationContainer all);
  position:static;
  overflow: hidden;
  height: auto;

  >*{
    position: static !important;
  }

  >.in{
    animation-name: zoomIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    backface-visibility: visible !important;
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;

  }

  >.out{
    animation-name: zoomOut;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    backface-visibility: visible !important;
    //-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    //animation-delay: 1s;
  }

}
